<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=5.0' name='viewport' />
  <meta name="theme-color" content="#2196F3">
  <title>Szabó József | Online Resume</title>
  <meta name="description" content="My name is József Szabó and I am a PHP Web Developer, let's get in touch.">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Szabó József | Online Resume" />
  <meta name="twitter:description" content="My name is Szabó József and I am a Frontend Web Developer, let's get in touch." />
  <meta name="twitter:image" content="./img/17493089_10208081564109975_7012684350498237270_o.jpg" />
  <meta property="og:url" content="https://er2es.github.io" />
  <meta property="og:type" content="profile" />
  <meta property="og:title" content="Szabó József | Online Resume" />
  <meta property="og:description" content="My name is Szabó József and I am a Frontend Web Developer, let's get in touch." />
  <meta property="og:image" content="./img/17493089_10208081564109975_7012684350498237270_o.jpg" />
</head>

<body>
  <nav class="mobile-nav" style="opacity:0">
    Szabó József
  </nav>
  <div class="fab-backdrop"></div>
  <nav class="fab">
    <button class="fab-button svg-icon" aria-label="Contact menu"></button>
    <ul class="options-buttons">
      <li class="finalstudyprjct-branch"><a class="button call svg-icon" href="tel:" rel="noopener" aria-label="Mobile phone"></a></li>
      <li class="hopwork-branch"><a class="button mail svg-icon" href="mailto:szabo.jozsef.acc@gmail.com" rel="noopener" aria-label="Email"></a></li>
    </ul>
  </nav>
  <div class="row readme-section">
    <div class="readme-container" itemscope itemtype="http://schema.org/Person">
      <div class="col-personal">
        <div class="img-info">
          <img src="./img/17493089_10208081564109975_7012684350498237270_o.jpg" itemprop="image" alt="Szabó József portrait photo" />
        </div>
        <div class="mbl-container-grey">
          <div class="display-name">
            <span itemprop="givenName">József</span>
            <span itemprop="familyName">Szabó</span>
            <meta itemprop="gender" content="Male" />
            <span class="mini-plus"></span>
          </div>
          <div class="personal-info">
            <!--<div itemprop="nationality" itemscope itemtype="http://schema.org/Country">
              <strong>Citizenship:</strong>
              <span itemprop="name">Hungarian</span>
            </div> -->
            <strong>Born:</strong>
            <meta id="birthdate" itemprop="birthDate" content="1991-05-29" /> '87
            <div itemprop="homeLocation" itemscope itemtype="http://schema.org/PostalAddress">
              <strong>Residence:</strong>
              <span itemprop="addressLocality">Budapest</span>,
              <span itemprop="addressCountry" itemscope itemtype="http://schema.org/Country">
                <span itemprop="name">Hungary</span>
              </span>
              <hr>
              <span><strong>Open for work</strong> (remote / hybrid / project)</span>
            </div>
            <div class="social">
              <a class="button github svg-icon" href="https://github.com/er2es" target="_blank" rel="noopener">github</a>
              <a class="button linkedin svg-icon" href="https://www.linkedin.com/in/j0zsef-szab0/" target="_blank" rel="noopener">linkedin</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-description">
        <div itemprop="description" class="mono-description">
          <h2>#README.md</h2>
          <p>My name is József Szabó and I am a PHP Web Developer & QA Tester. Mainly I...
            <ul>
              <li>Work on complex Web Applications built on PHP with JavaScript frameworks/libraries.</li>
              <li>I also work with Wordpress, LimeSurvey.</li>
              <li>Knowledge of Linux (mainly Red Hat) that required for work.</li>
              <li>I know Selenium, but I mainly test manually (due to the characteristics of previous projects)</li>
              <li>I had many legacy projects (PHP, JS, VBA), so I'm not afraid of them either.</li>
              <li>Postgres and MariaDb database management experience</li>
            </ul>
            Want to get in touch? Here's my <span class="purpl"><a href="mailto:szabo.jozsef.acc@gmail.com">[email]</a></span>
            <!-- <strong><span class="email-container"></span></strong> -->
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row commits-section">
    <ul class="branch master-branch" data-label="master">
      <li class="commit">
        <span class="title">PHP web developer <a href="https://mbvk.hu/" target="_blank" rel="noopener">@mbvk</a></span>
        <span class="desc">Legacy PHP refactor, Wordpress multisite theme development (SASS, NODE, BS4), PostgreSQL, MariaDB, RHEL, Symfony 5 + Angular 14 mini project / Symfony+Angular manual QA</span>
        <span class="date">2021 - Now</span>
      </li>
      <li class="commit" >
        <span class="title">PHP web developer <a href="https://semmelweis.hu" target="_blank" rel="noopener">@uni_semmelweis</a></span>
        <span class="desc">Wordpress multisite (200 subsite / 800 administrative user) theme development (SASS, NODE, BS4), Laravel</span>
        <span class="date">2020 - 2021</span>
      </li>
      <li class="commit" >
        <span class="title">PHP web developer <a href="https://szgyf.gov.hu/" target="_blank" rel="noopener">@szgyf</a></span>
        <span class="desc">Part time job / SeedDMS, Ubuntu, Document managment</span>
        <span class="date">2018 - 2019</span>
      </li>

      <ul class="branch work_tn-branch" data-label="work_tn">
        <li class="commit merge" data-branch="master" ></li>
        <li class="commit" >
          <span class="title">IT Consultant <a href="https://uni-nke.hu/" target="_blank" rel="noopener">@uni_nke</a></span>
          <span class="desc">Codeigneter, MySQL, QA, LimeSurvey, EvaSys</span>
          <span class="date">2016 - 2020</span>
        </li>

        <ul class="branch hopwork-branch" data-label="hopwork">
          <li class="commit merge" data-branch="work_tn" ></li>
          <li class="commit" >
            <span class="title">Man of the Year 2016/17 <a href="https://honvedelem.hu/hirek/hazai-hirek/tanevzaro-elismeresekkel.html" target="_blank" rel="noopener">@uni_nke</a></span>
            <span class="date">2017</span>
          </li>
          <li class="commit new-branch" data-branch="work_tn" > </li>
        </ul>

        <li class="commit" >
          <span class="title">Good State and Governance Report</span>
          <span class="desc">2015-2019: Calculate <strong><a href="https://joallamjelentes.uni-nke.hu/2017_pages/pdf_serve/non-compress/611_JoAllamJelentes_2017_v2ENG.pdf#page=150" target="_blank" rel="noopener">E.1.3</a></strong> indicator (with google map api) and generate the <strong><a href="https://joallamjelentes.uni-nke.hu/2019_pages_PDF/Jo_Allam_Jelentes_2019_Elso_Valtozat.pdf#page=149" target="_blank" rel="noopener">2019</a></strong> report print-ready with PHP+TCPDF</span>
        </li>
        <li class="commit" >
          <span class="title">LimeSurvey / EvaSys managment</span>
        </li>
        <li class="commit new-branch" data-branch="master" > </li>
      </ul>
     
      <li class="commit" >
        <span class="title">Junior Analyst <a href="https://hu.wikipedia.org/wiki/Nemzeti_Eg%C3%A9szs%C3%A9gfejleszt%C3%A9si_Int%C3%A9zet" target="_blank" rel="noopener">@nefi</a></span>
        <span class="desc">Limesurvey, MySQL, Excel Vba, MS Access</span>
        <span class="date">2014-2015</span>
      </li>
      <li class="commit">
        <span class="title">Software Tester (QA) <a href="https://www.oktatas.hu/" target="_blank" rel="noopener">@oh</a></span>
        <span class="desc">PHP, MySQL, QA, Selenium</span>
        <span class="date">2012-2015</span>
      </li>

      <ul class="branch finalstudyprjct-branch" data-label="finalstudyprjct">
        <li class="commit merge" data-branch="master" ></li>
        <li class="commit" >https://www.felvi.hu/
          <span class="title">Start work cooperation with <a href="https://konigsberg.hu" target="_blank" rel="noopener">@KC</a></span>
          <span class="desc">Laravel apps, website building, microsite's, survey's, data scrapping</span>
          <span class="date">2012 - now</span>
        </li>
        <li class="commit" >
          <span class="title">SPP</span>
          <span class="desc">Development of an online system to run a national programme to promote sport in higher education, reached 17.000 registered users. #legacyphp
           The SPP ended in December 2016.</span>
          <span class="date">2013 - 2015</span>
        </li>
        <li class="commit" >
          <span class="title"><a href="https://felvi.hu" target="_blank" rel="noopener">FELVI</a> data map</span>
          <span class="desc">Displaying data from the FELVI database along several dimensions. The site also provides an interactive map of admissions data from 2009 to 2013.</span>
          <span class="date">2013</span>
        </li>
        <li class="commit new-branch" data-branch="master" > </li>
      </ul>

      <li class="commit" >
        <span class="title">Software Tester (QA)  <a href="https://arukereso.hu" target="_blank" rel="noopener">@arukereso</a></span>
        <span class="desc">PHP, MySQL, QA, Selenium </span>
        <span class="date">2011 - 2012</span>
      </li>

      <ul class="branch jasminespring-branch" data-label="jasminespring">
        <li class="commit merge" data-branch="master" data-date="2011-09-01"></li>
        <li class="commit" data-date="2011-04-01">
          <span class="title">IT assistant</span>
          <span class="desc">First IT job, mainly Excel, VBA, Access</span>
          <span class="date">2008 - 2011</span>
        </li>
        <li class="commit new-branch" data-branch="master" data-date="2010-06-15"> </li>
      </ul>

      <li class="commit" data-date="2004-08-01">
        <span class="title">Education:</span>
        <span class="desc">Achieved this secondary qualification: Computer Software Operator</span>
        <span class="date">2007</span>
      </li>
      <li class="commit" data-date="1991-05-29">
        <span class="title">Initial commit:</span>
        <span class="desc">Born to be <strike>wild</strike></span>
        <span class="date">1987</span>
      </li>
    </ul>
  </div>
  <footer>
    <center># József Szabó | PHP | QA #</center>
  </footer>
  <%if (cfAnalytics) { %>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "<%= cfAnalytics %>"}'></script><!-- End Cloudflare Web Analytics -->
  <% } %>
  <%if (gAnalytics) { %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= gAnalytics %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%= gAnalytics %>');
  </script>
  <% } %>
</body>

</html>
